{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
  <script type= "text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
  <script type="text/javascript" src="farbtastic.js"></script>
  <link rel="stylesheet" href="farbtastic.css" type="text/css" />
	<style type="text/css">
    #mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
    
    
    
    .farbtastic {
    position: relative;
}
.farbtastic * {
    position: absolute;
    cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
    width: 195px;
    height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
    top: 47px;
    left: 47px;
    width: 101px;
    height: 101px;
}
.farbtastic .wheel {
    background: url(http://i46.tinypic.com/1zpp009.png) no-repeat;
    width: 195px;
    height: 195px;
}
.farbtastic .overlay {
    background: url(http://i49.tinypic.com/28uk8y9.png) no-repeat;
}
.farbtastic .marker {
    width: 17px;
    height: 17px;
    margin: -8px 0 0 -8px;
    overflow: hidden;
    background: url(http://i45.tinypic.com/dzjx1w.png) no-repeat;
}
    
    
    
    canvas { display: block; cursor: pointer; } 
    html { height: 100%; overflow: hidden; }
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
    
	</style>

<!--   <script type = "text/javascript" src = "https://codepen.io/shshaw/pen/epmrgO"></script> -->
  <script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
  <script type = "text/javascript">
     
    $(document).ready(function() {

      console.clear();

var twoPI = 2 * Math.PI;

var canvas = document.createElement('canvas'),
    ctx = canvas.getContext('2d');


var width = canvas.width = window.innerWidth,
    height = canvas.height = window.innerHeight;

window.addEventListener('resize',function(){
  width = canvas.width = window.innerWidth;
  height = canvas.height = window.innerHeight;
});

document.body.appendChild(canvas);

/* ///////////////////////////////////////// */

function randomWiggle(wiggle) {
  return ( Math.random() * wiggle ) * ( Math.random() < 0.5 ? -1 : 1 )
}


var color = -25;
function randomColor(){
  color = Math.floor( ( color % 360 ) + 25 + 15 * Math.random() );
  return 'hsl(' + color + ', 50%, 55%)';
}


/* //////////////////////////////////////// */

function WaterColor(options) {
  if (!(this instanceof WaterColor)) { return new WaterColor(options); }

  for (var key in options) {
    if (options.hasOwnProperty(key)) { this[key] = options[key]; }
  }

  if ( !this.fill ) { this.fill = randomColor(); }
  this.c = Math.floor( Math.random() * 2 );
  this.render();
}

WaterColor.prototype = {
  sides: 6,
  x: 20,
  y: 20,
  ctx: false,

  speed: 0.39,

  maxPoints: 5000,
  maxRender: 5,
  
  scale: false,

  buildPoints(){

    var wiggle = this.size * 0.15,
        rotation = 0,
        x = -this.size, 
        y = 0,
        horizontal = Math.random() > 0.5,
        start = [ x, y ];

    this.points = [ start ];

    for (; rotation < twoPI; rotation += this.speed) {

      x += 
        this.size 
        * this.speed
        * Math.sin(rotation)
        * ( horizontal ? 1 : 0.7 )
        + randomWiggle( wiggle ); // * Math.cos( (rotation/twoPI) * twoPI ) );

      y += 
        this.size
        * this.speed
        * Math.cos(rotation)
        * ( horizontal ? 0.7 : 1 )
        + randomWiggle( wiggle );// * Math.cos( (rotation/twoPI) * twoPI) );

      this.points.push([ x, y ]);
    }
    
    
    this.points.push( start );

    this.originalPoints = this.points;
    return this.points;
  },

  expandPoints(){

    if ( !this.points ) { return this.buildPoints(); }

    if ( this.points.length > this.maxPoints ) { return false; }

    var wiggle = this.size * 0.05;

    var p = [],
        i = 0,
        len = this.points.length - 1,
        x, y, x2, y2;

    for ( ; i < len; i++) {
      y = this.points[i][1];
      x = this.points[i][0];
      y2 = this.points[i + 1][1];
      x2 = this.points[i + 1][0];
      p.push(
        [x, y],
        [
          (( x2 + x )/2) + randomWiggle(wiggle),  
          (( y2 + y )/2) + randomWiggle(wiggle)
        ],
        [x2, y2]
      );
    }

    this.points = p;

    return true;

  },

  c: 0,

  render: function(){
    this.c++;
    if ( this.c < (this.maxRender * 3) ) { requestAnimationFrame(this.render.bind(this)); }
    if ( this.c % 3 == 0 ) { this.draw(this.c / 3); }
  },

  draw: function(c) {

    if (this.ctx) {

      while ( this.expandPoints() ){}

      var ctx = this.ctx;
      
      var itr = (c/this.maxRender);
      
      ctx.setTransform(1, 0, 0, 1, 0, 0);

      ctx.globalCompositeOperation = 'hard-light';// 'xor';
      ctx.globalAlpha = 0.25 - ( itr * 0.1 );

      ctx.translate( this.x, this.y );
      if ( this.scale ) { ctx.scale( 1 + itr * 0.2, 1 + itr * 0.2 ); }
      
      ctx.beginPath();
      ctx.moveTo(this.points[0][0], this.points[0][1]); //this.x + this.size, this.y);

      for (var i = 0, len = this.points.length; i < len; i++) {
        ctx.lineTo( this.points[i][0], this.points[i][1] );
      }

      ctx.closePath();
      ctx.fillStyle = this.fill;
      ctx.fill();

      this.points = this.originalPoints;

    }

    return this;
  }
};



var color = 0;
function makeWatercolor(e){

  var x = width * Math.random(),
      y = height * Math.random();

  if ( e ) {
    e = e.touches ? e.touches[0] : e;
    x = e.clientX || e.x;
    y = e.clientY || e.y;
  }

  ctx.globalAlpha = 0.02;
  ctx.setTransform(1, 0, 0, 1, 0, 0);
  ctx.fillStyle = '#FFF';
  ctx.fillRect(0, 0, width, height);

  new WaterColor({
    ctx: ctx,
    size: Math.min(width,height) * ( 0.2 + Math.random() * 0.1 ),
    x: x,
    y: y,
    scale: true
  })

}

 $('#colorpicker').farbtastic('#color');
document.addEventListener('click', makeWatercolor );
// document.addEventListener('touchstart', makeWatercolor );


/* ////////////////////////////////////////////////////////////////////////// */


// var halfWidth = width / 2,
//     halfHeight = height / 2

//FIXME: this is for auto generating a lot color
// for (var i = 0, len = 10; i < len; i++ ){

//   new WaterColor({
//     ctx: ctx,
//     size: width * ( 0.7 + Math.random() * 0.1 ),
//     x: halfWidth + ( Math.cos( (i / len) * twoPI ) * halfWidth ), 
//     y: halfHeight + ( Math.sin( (i / len) * twoPI ) * halfHeight ) 
//   });

// }

/* */
// color palette
		// Initialize a colorpicker like this.
    //
//     var $box = $('#box');
//     $box.tinycolorpicker();

//     // Try this to get access to the actual colorpicker instance.
//     //
//     var box = $box.data("plugin_tinycolorpicker");

//     // Now you have access to all the methods and properties.
//     //
//     // box.setColor("#cccccc");
//     // console.log(box.colorRGB);
//     //
//     // etc..

//     // You can bind to the change event like this.
//     //
//     $box.bind("change", function()
//     {
//         console.log("do something when a new color is set");
//     });
});
//     });
    
//Make the DIV element draggagle:
dragElement(document.getElementById("mydiv"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
  </script>
  
<!-- 	<script type="text/javascript" canvas="canvas">
    
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};	

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			// your rectangle gradient interaction goes in this function
			// you may also add code outside of the function (e.g., global variables)
			function myGradientInteraction(){
// 				var tool = new paper.Tool();

// 				tool.onMouseDown = function (event) {

// 				}

// 				tool.onMouseUp = function (event) {
					
// 				}
			}

			// your custom interaction goes here!
			// you may replace everything
			function myCustomInteraction() {
        var path;
				var tool = new paper.Tool();
        tool.minDistance = 0.1;
				tool.onMouseDown = function (event) {
// 				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
// 				    if (hit) {
// 				        hit.item.fillColor = cp.history[cp.history.length - 1];
// 				    }
// 				}
         path = new paper.Path();
         path.strokeColor = cp.history[cp.history.length - 1];
         path.add(event.point);
			}
        tool.onMouseDrag = function(event){
          path.add(event.point);
          path.smooth();
        }
//         tool.onMouseUp = function(event){
//           path.add(event.point);
//           path.closed = true;
//           path.smooth();
//         }
        
      }

			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) { 
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();	
				    } else {
				    	myGradientInteraction();
				    }		
					
				}); 
			}

			// To see your myGradientInteraction version visit: 
			// http://<your url>:8000/coloring/?type=gradient
			// To see your myCustomInteraction version visit: 
			// http://<your url>:8000/coloring/
			var url = window.location.href;
			if (url.indexOf("gradient") > -1) {
				init(false);
			} else {
				init(true);
			}
		}
	</script> -->

  <script type="text/javascript">
   // $Id: farbtastic.js,v 1.2 2007/01/08 22:53:01 unconed Exp $
// Farbtastic 1.2

jQuery.fn.farbtastic = function (callback) {
    $.farbtastic(this, callback);
    return this;
};

jQuery.farbtastic = function (container, callback) {
    var container = $(container).get(0);
    return container.farbtastic || (container.farbtastic = new jQuery._farbtastic(container, callback));
}

jQuery._farbtastic = function (container, callback) {
    // Store farbtastic object
    var fb = this;

    // Insert markup
    $(container).html('<div class="farbtastic"><div class="color"></div><div class="wheel"></div><div class="overlay"></div><div class="h-marker marker"></div><div class="sl-marker marker"></div></div>');
    var e = $('.farbtastic', container);
    fb.wheel = $('.wheel', container).get(0);
    // Dimensions
    fb.radius = 84;
    fb.square = 100;
    fb.width = 194;

    // Fix background PNGs in IE6
    if (navigator.appVersion.match(/MSIE [0-6]\./)) {
        $('*', e).each(function () {
            if (this.currentStyle.backgroundImage != 'none') {
                var image = this.currentStyle.backgroundImage;
                image = this.currentStyle.backgroundImage.substring(5, image.length - 2);
                $(this).css({
                    'backgroundImage': 'none',
                        'filter': "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='" + image + "')"
                });
            }
        });
    }

    /**
     * Link to the given element(s) or callback.
     */
    fb.linkTo = function (callback) {
        // Unbind previous nodes
        if (typeof fb.callback == 'object') {
            $(fb.callback).unbind('keyup', fb.updateValue);
        }

        // Reset color
        fb.color = null;

        // Bind callback or elements
        if (typeof callback == 'function') {
            fb.callback = callback;
        } else if (typeof callback == 'object' || typeof callback == 'string') {
            fb.callback = $(callback);
            fb.callback.bind('keyup', fb.updateValue);
            if (fb.callback.get(0).value) {
                fb.setColor(fb.callback.get(0).value);
            }
        }
        return this;
    }
    fb.updateValue = function (event) {
        if (this.value && this.value != fb.color) {
            fb.setColor(this.value);
        }
    }

    /**
     * Change color with HTML syntax #123456
     */
    fb.setColor = function (color) {
        var unpack = fb.unpack(color);
        if (fb.color != color && unpack) {
            fb.color = color;
            fb.rgb = unpack;
            fb.hsl = fb.RGBToHSL(fb.rgb);
            fb.updateDisplay();
        }
        return this;
    }

    /**
     * Change color with HSL triplet [0..1, 0..1, 0..1]
     */
    fb.setHSL = function (hsl) {
        fb.hsl = hsl;
        fb.rgb = fb.HSLToRGB(hsl);
        fb.color = fb.pack(fb.rgb);
        fb.updateDisplay();
        return this;
    }

    /////////////////////////////////////////////////////

    /**
     * Retrieve the coordinates of the given event relative to the center
     * of the widget.
     */
    fb.widgetCoords = function (event) {
        var x, y;
        var el = event.target || event.srcElement;
        var reference = fb.wheel;

        if (typeof event.offsetX != 'undefined') {
            // Use offset coordinates and find common offsetParent
            var pos = {
                x: event.offsetX,
                y: event.offsetY
            };

            // Send the coordinates upwards through the offsetParent chain.
            var e = el;
            while (e) {
                e.mouseX = pos.x;
                e.mouseY = pos.y;
                pos.x += e.offsetLeft;
                pos.y += e.offsetTop;
                e = e.offsetParent;
            }

            // Look for the coordinates starting from the wheel widget.
            var e = reference;
            var offset = {
                x: 0,
                y: 0
            }
            while (e) {
                if (typeof e.mouseX != 'undefined') {
                    x = e.mouseX - offset.x;
                    y = e.mouseY - offset.y;
                    break;
                }
                offset.x += e.offsetLeft;
                offset.y += e.offsetTop;
                e = e.offsetParent;
            }

            // Reset stored coordinates
            e = el;
            while (e) {
                e.mouseX = undefined;
                e.mouseY = undefined;
                e = e.offsetParent;
            }
        } else {
            // Use absolute coordinates
            var pos = fb.absolutePosition(reference);
            x = (event.pageX || 0 * (event.clientX + $('html').get(0).scrollLeft)) - pos.x;
            y = (event.pageY || 0 * (event.clientY + $('html').get(0).scrollTop)) - pos.y;
        }
        // Subtract distance to middle
        return {
            x: x - fb.width / 2,
            y: y - fb.width / 2
        };
    }

    /**
     * Mousedown handler
     */
    fb.mousedown = function (event) {
        // Capture mouse
        if (!document.dragging) {
            $(document).bind('mousemove', fb.mousemove).bind('mouseup', fb.mouseup);
            document.dragging = true;
        }

        // Check which area is being dragged
        var pos = fb.widgetCoords(event);
        fb.circleDrag = Math.max(Math.abs(pos.x), Math.abs(pos.y)) * 2 > fb.square;

        // Process
        fb.mousemove(event);
        return false;
    }

    /**
     * Mousemove handler
     */
    fb.mousemove = function (event) {
        // Get coordinates relative to color picker center
        var pos = fb.widgetCoords(event);

        // Set new HSL parameters
        if (fb.circleDrag) {
            var hue = Math.atan2(pos.x, -pos.y) / 6.28;
            if (hue < 0) hue += 1;
            fb.setHSL([hue, fb.hsl[1], fb.hsl[2]]);
        } else {
            var sat = Math.max(0, Math.min(1, -(pos.x / fb.square) + .5));
            var lum = Math.max(0, Math.min(1, -(pos.y / fb.square) + .5));
            fb.setHSL([fb.hsl[0], sat, lum]);
        }
        return false;
    }

    /**
     * Mouseup handler
     */
    fb.mouseup = function () {
        // Uncapture mouse
        $(document).unbind('mousemove', fb.mousemove);
        $(document).unbind('mouseup', fb.mouseup);
        document.dragging = false;
    }

    /**
     * Update the markers and styles
     */
    fb.updateDisplay = function () {
        // Markers
        var angle = fb.hsl[0] * 6.28;
        $('.h-marker', e).css({
            left: Math.round(Math.sin(angle) * fb.radius + fb.width / 2) + 'px',
            top: Math.round(-Math.cos(angle) * fb.radius + fb.width / 2) + 'px'
        });

        $('.sl-marker', e).css({
            left: Math.round(fb.square * (.5 - fb.hsl[1]) + fb.width / 2) + 'px',
            top: Math.round(fb.square * (.5 - fb.hsl[2]) + fb.width / 2) + 'px'
        });

        // Saturation/Luminance gradient
        $('.color', e).css('backgroundColor', fb.pack(fb.HSLToRGB([fb.hsl[0], 1, 0.5])));

        // Linked elements or callback
        if (typeof fb.callback == 'object') {
            // Set background/foreground color
            $(fb.callback).css({
                backgroundColor: fb.color,
                color: fb.hsl[2] > 0.5 ? '#000' : '#fff'
            });

            // Change linked value
            $(fb.callback).each(function () {
                if (this.value && this.value != fb.color) {
                    this.value = fb.color;
                    $('.' + this.id).css('background-color', fb.color);
                }
            });
        } else if (typeof fb.callback == 'function') {
            fb.callback.call(fb, fb.color);
        }
    }

    /**
     * Get absolute position of element
     */
    fb.absolutePosition = function (el) {
        var r = {
            x: el.offsetLeft,
            y: el.offsetTop
        };
        // Resolve relative to offsetParent
        if (el.offsetParent) {
            var tmp = fb.absolutePosition(el.offsetParent);
            r.x += tmp.x;
            r.y += tmp.y;
        }
        return r;
    };

    /* Various color utility functions */
    fb.pack = function (rgb) {
        var r = Math.round(rgb[0] * 255);
        var g = Math.round(rgb[1] * 255);
        var b = Math.round(rgb[2] * 255);
        return '#' + (r < 16 ? '0' : '') + r.toString(16) + (g < 16 ? '0' : '') + g.toString(16) + (b < 16 ? '0' : '') + b.toString(16);
    }

    fb.unpack = function (color) {
        if (color.length == 7) {
            return [parseInt('0x' + color.substring(1, 3)) / 255,
            parseInt('0x' + color.substring(3, 5)) / 255,
            parseInt('0x' + color.substring(5, 7)) / 255];
        } else if (color.length == 4) {
            return [parseInt('0x' + color.substring(1, 2)) / 15,
            parseInt('0x' + color.substring(2, 3)) / 15,
            parseInt('0x' + color.substring(3, 4)) / 15];
        }
    }

    fb.HSLToRGB = function (hsl) {
        var m1, m2, r, g, b;
        var h = hsl[0],
            s = hsl[1],
            l = hsl[2];
        m2 = (l <= 0.5) ? l * (s + 1) : l + s - l * s;
        m1 = l * 2 - m2;
        return [this.hueToRGB(m1, m2, h + 0.33333),
        this.hueToRGB(m1, m2, h),
        this.hueToRGB(m1, m2, h - 0.33333)];
    }

    fb.hueToRGB = function (m1, m2, h) {
        h = (h < 0) ? h + 1 : ((h > 1) ? h - 1 : h);
        if (h * 6 < 1) return m1 + (m2 - m1) * h * 6;
        if (h * 2 < 1) return m2;
        if (h * 3 < 2) return m1 + (m2 - m1) * (0.66666 - h) * 6;
        return m1;
    }

    fb.RGBToHSL = function (rgb) {
        var min, max, delta, h, s, l;
        var r = rgb[0],
            g = rgb[1],
            b = rgb[2];
        min = Math.min(r, Math.min(g, b));
        max = Math.max(r, Math.max(g, b));
        delta = max - min;
        l = (min + max) / 2;
        s = 0;
        if (l > 0 && l < 1) {
            s = delta / (l < 0.5 ? (2 * l) : (2 - 2 * l));
        }
        h = 0;
        if (delta > 0) {
            if (max == r && max != g) h += (g - b) / delta;
            if (max == g && max != b) h += (2 + (b - r) / delta);
            if (max == b && max != r) h += (4 + (r - g) / delta);
            h /= 6;
        }
        return [h, s, l];
    }

    // Install mousedown handler (the others are set on the document on-demand)
    $('*', e).mousedown(fb.mousedown);

    // Init color
    fb.setColor('#000000');

    // Set linked elements/callback
    if (callback) {
        fb.linkTo(callback);
    }
}


$(function () {
    $('#demo').hide();
    var f = $.farbtastic('#picker');
    $('.colorwell')
        .each(function () {
        f.linkTo(this);
    })
        .focus(function () {
        f.linkTo(this);
    });
});




  </script>
</head
 

 
<body>

<div id="mydiv">
  <div id="mydivheader">Click here to move</div>
   <form><input type="text" id="color" name="color" value="#123456" /></form>

<div id="colorpicker" style="width = 10px"></div>
 
</div>


</html>