{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Task 2</title>

  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

  <script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
 
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
</head>

<body>
  
<!--     <div class="row">
      <div class="col-12"> -->
<!--         <div class="shape-container"> -->
 <div id="wrapper">
  <div class="content">
    <img class="splatter" src="http://officialpsds.com/imageview/ry/mx/rymxp3_large.png?1521316512">
  </div>
  <div class="background" style="z-index:-90; width:100%; height:auto; top:-10px; position:fixed; right:0;">
    <object type="application/x-shockwave-flash" style="outline:none;" data="https://cdn.abowman.com/widgets/fish/fish.swf?up_fishColor4=F45540&up_fishColor9=F45540&up_fishColor2=FF7C54&up_fishColor6=F45540&up_fishColor5=F45540&up_fishColor10=F45540&up_foodColor=FCB347&up_fishColor3=FF7C54&up_fishColor1=FF7C54&up_backgroundImage=http://&up_fishName=Fish&up_numFish=3&up_fishColor7=F45540&up_fishColor8=F45540&up_backgroundColor=F2F8FF&"
      width="1280" height="710"><param name="movie" value="https://cdn.abowman.com/widgets/fish/fish.swf?up_fishColor4=F45540&up_fishColor9=F45540&up_fishColor2=FF7C54&up_fishColor6=F45540&up_fishColor5=F45540&up_fishColor10=F45540&up_foodColor=FCB347&up_fishColor3=FF7C54&up_fishColor1=FF7C54&up_backgroundImage=http://&up_fishName=Fish&up_numFish=3&up_fishColor7=F45540&up_fishColor8=F45540&up_backgroundColor=F2F8FF&"></param><param name="AllowScriptAccess" value="always"></param><param name="wmode" value="opaque"></param><param name="scale" value="noscale"/><param name="salign" value="tl"/></object>
  </div>
  <canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div id="color-palette" style="z-index = 100;"></div>

</div>
          

</body>

</html>